body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* ---------font-family-------- */
@font-face {
  font-family: "CormorantGaramond-Regular";
  src: url(../font/AnyConv.com__CormorantGaramond-Regular.woff) format("woff"),
    url(../font/AnyConv.com__CormorantGaramond-Regular.woff) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../font/AnyConv.com__Lato-Bold.woff) format("woff"),
    url(../font/AnyConv.com__Lato-Bold.woff) format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Italic";
  src: url(../font/AnyConv.com__Lato-Italic.woff) format("woff"),
    url(../font/AnyConv.com__Lato-Italic.woff) format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Light";
  src: url(../font/AnyConv.com__Lato-Light.woff) format("woff"),
    url(../font/AnyConv.com__Lato-Light.woff) format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url(../font/AnyConv.com__Lato-LightItalic.woff) format("woff"),
    url(../font/AnyConv.com__Lato-LightItalic.woff) format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../font/AnyConv.com__Lato-Regular.woff) format("woff"),
    url(../font/AnyConv.com__Lato-Regular.woff) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url(../font/AnyConv.com__JosefinSans-Regular.woff) format("woff"),
    url(../font/AnyConv.com__JosefinSans-Regular.woff) format("woff2");
  font-display: swap;
  font-weight: 400;
}
/* ----font-family--class---- */
.font-cormor {
  font-family: "CormorantGaramond-Regular", "sans-sarif";
  font-weight: 500;
}
.font-lato-bold {
  font-family: "Lato-Bold", "sans-sarif";
  font-weight: 500;
}
.font-lato-italic {
  font-family: "Lato-Italic", "sans-sarif";
}
.font-lato-light {
  font-family: "Lato-Light", "sans-sarif";
}
.font-lato-light-italic {
  font-family: "Lato-LightItalic", "sans-sarif";
}
.font-lato-regular {
  font-family: "Lato-Regular", "sans-sarif";
}
.font-jose {
  font-family: "JosefinSans-Regular", "sans-sarif";
}
/* ----font-size------ */
.fs-56 {
  font-size: 47px;
  line-height: 53px;
}
.fs-48 {
  font-size: 35px;
  line-height: 42px;
}
.fs-40 {
  font-size: 33px;
  line-height: 40px;
}
.fs-32 {
  font-size: 28px;
  line-height: 35px;
}
.fs-28 {
  font-size: 24px;
  line-height: 30px;
}
.fs-24 {
  font-size: 20px;
  line-height: 26px;
}
.fs-18{
  font-size: 16px;
  line-height: 22px;
}
.fs-16 {
  font-size: 14px;
  line-height: 20px;
}
/* ---------------------- bg-color & text-color ------------------------------- */
.text-white {
  color: white;
}
.text-2121 {
  color: #212121;
}
.text-5555 {
  color: #555555;
}
.text-9385 {
  color: #093857;
}
.text-0021 {
  color: #8a0021;
}
.bg-btn {
  background-color: #8a0021;
}
.bg-light-skin {
  background-color: rgba(215, 172, 158, 0.3);
}
.bg-dark-skin {
  background-color: #d7ac9e;
}
.btn-border {
  border: 1px solid #8a0021;
}
.pad-t-b {
  padding: 35px 0;
}
.pad-b {
  padding-bottom: 100px;
}
/* ------------------------------------------------ */
.nav-item {
  padding: 5px 10px;
}
.navbar-nav .nav-link.active,.nav-link:hover{
  color: #bb002d;
  border-bottom: 1px solid #bb002d; 
}
header .btn:hover {
  color: white;
  background-color: #8a0021;
}
input[type="search"] {
  width: 370px;
}

/* -------------------------------------------------- */
.banner-slider::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.6);
  z-index: 111;  
}
.banner-text{
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);  
  z-index: 111111;
}
.slick-dots{
  display: flex;
  list-style: none;
  position: absolute;
   right: 0;
  bottom: 0;
  z-index: 1111;
}
.slick-dots li button{
  border: none;
  background-color: white;
  padding: 25px 40px;
}
.slick-prev,.slick-next{
  display: none !important;
}
.main-img-1 {
  z-index: -1;
}
.main-img-2 {
  border-top: 20px solid white;
  border-right: 20px solid white;
}
.h3 {
  position: absolute;
  bottom: 0;
  width: calc(100% - 24px);
  background-color: rgba(0, 0, 0, 0.3);
}
.btn:hover {
  border: 1px solid #8a0021;
  background-color: transparent;
  color: #093857;
}
section .btn {
  color: white;
}
/* --video section-- */
.video-background::before {
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(10, 10, 10, 0.6);
  position: absolute;
}
.fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.popup__content {
  width: 1200px;
  overflow: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.popup .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  display: block;
}
.popup span {
  cursor: pointer;
  position: fixed;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}
/* --video section-- */
.img-p-div {
  min-height: 180px;
}
.bg-img {
  background-image: url(../images/image\ 118.png);  
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
/* ------- */
.slick-slider .element {
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ------------------------------slider-2------------ */
.bg-form{
  background-image: url(../images/form-bg.png);  
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* height: 760px; */
}
.bg-form::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.7);
}
form input:focus{
  outline: none;
  color: black;
}
.fimg{
  border-radius: 15px 0 0 15px;
}
form{
  border-radius: 15px;
}
.main-form{
  padding: 60px 0;
}
.img-round{
  height: 118px;
  width: 121px;
}
.bg-newsletter{
  background-image: url(../images/newsletter.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; 
}
.bg-newsletter::before{  
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(29, 29, 29, 0.6);
}
.news-main{
  max-width: 800px;
}
.bg-newsletter input::placeholder{
  color: white;
}
footer .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    transition: 0.3s;
}
footer .social-links a:hover{
  background-color: rgb(90, 90, 90);
}
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: white;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  color:#3C3C3B; 
}
.scroll-top:hover {
  background: black;
  color: #fff;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 35px;
}
.content {
  height: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  transition: .3s all;
  transform-origin: right bottom;
  border-radius: 2px;
  box-sizing: border-box;
  width: calc(100% - 103px);
  margin-left: auto;
  transition: 1s all;
  color: #fff;
  object-fit: cover;
}
.content img{
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  height: 500px;
  display: flex;
  align-items: center;
}
.sl-arrow{
  position: absolute;
  bottom: 20%;
  right: 50%;
}
.swiper-slide-active .content {
  height: 600px;
  width: 100%;
  width: 100%;
}
.swiper-slide-prev .content {
  height: 200px;
  width: 100%;
  width: 100%;
  transform: translateX(-35%);
}
[data-next],
[data-prev] {
cursor: pointer;
font-size: 40px;
}
.container {
  overflow: hidden;
  border-radius: 0;
  position: relative;
  z-index: 0;
}
.form-control:focus,a:focus{
  border: #b6b6b6; 
  box-shadow: none;}